<h1>Welcome!</h1>

<%= form_for @user, :url => url_for(:controller => "sessions", :action => "create") do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit "Log In" %>
<% end %>

<br>

<p><%= link_to('Log in with Google', '/auth/google_oauth2') %></p>

<p>New user? <%= link_to "Sign up here!", new_user_path %></p>
