<h1>Sign Up</h1>

<%= render partial: "shared/errors", locals: {object: @user} %>

<%= form_for @user do |u| %>
  <%= u.label "Name" %>
  <%= u.text_field :name %><br></br>

  <%= u.label "Email" %>
  <%= u.email_field :email %><br></br>

  <%= u.label "Password" %>
  <%= u.password_field :password %><br></br>

  <%= u.label "Confirm Password" %>
  <%= u.password_field :password_confirmation %><br></br>

  <%= u.label :admin %>
  <%= u.check_box :admin %><br></br>

  <%= u.submit %>

<% end %>
