<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <ul>
  <% @user.errors.full_messages do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>
<% end %>

<%= form_for @user do |u| %>
  <%= u.label :name %>
  <%= u.text_field :name %><br></br>

  <%= u.label :email %>
  <%= u.text_field :email %><br></br>

  <%= u.label :password %>
  <%= u.password_field :password %><br></br>

  <%= u.label :password_confirmation %>
  <%= u.password_field :password_confirmation %><br></br>

  <%= u.submit %>

<% end %>
