<h1 data-id="<%=current_user.id%>">Hello <%= current_user.name %>!</h1>
<br>

<p>Welcome back to Film Budget Helper! How can I help you?</p>

<%= link_to "View My Expenses", user_expenses_path(current_user), class: "all-expenses", :"data-id" => current_user.id %><br>
<%= link_to "Create New Expense", new_user_expense_path(current_user), class: "new-expense", :"data-id" => current_user.id %><br>
<%= link_to "Create New Expense for #{current_user.last_production_name}", new_production_expense_path(current_user.last_production), class: "new-expense", :"data-id" => current_user.id if current_user.last_production %>
