<h1><%= @production.name %></h1><br></br>

<h2>Budget: <%= @production.dollar_budget %></h2><br></br>

<%= render partial: "expenses/table", locals: {expenses: @production.expenses} %><br></br>

<p><%= link_to "Edit Production", edit_production_path(@production.id) %> | <%= link_to "Home", user_path(current_user) %></p>
