<table class="table">
    <tr>
      <td><strong>Vendor</strong></td>
      <td><strong>Date</strong></td>
      <td><strong>Department</strong></td>
      <td><strong>Total</strong></td>
      <td><strong>Status</strong></td>
      <td><strong>View Expense</strong></td>
    </tr>
    <% expenses.find_each do |expense| %>
      <tr>
        <td><%= expense.vendor %></td>
        <td><%= expense.formatted_date %></td>
        <td><%= expense.department_category %></td>
        <td><%= expense.dollar_total %></td>
        <td><%= expense.status %></td>
        <td><a href="#" data-id="<%= expense.id %>" class="show-expense">See More</a></td>
      </tr>
      <div id="display-expense-<%= expense.id %>"></div>
    <% end %>
  </table>
