<table class="table">
  <tr>
    <td><strong>Vendor</strong></td>
    <td><strong>Date</strong></td>
    <td><strong>Department</strong></td>
    <td><strong>Total</strong></td>
    <td><strong>View Expense</strong></td>
  </tr>
  <% expenses.each do |expense| %>
    <tr>
      <td><%= expense.vendor %></td>
      <td><%= expense.formatted_date %></td>
      <td><%= expense.department_category %></td>
      <td>$<%= expense.total %></td>
      <td><%= link_to "See More", user_expense_path(current_user.id, expense.id) %></td>
    </tr>
  <% end %>
</table>
