<h5>Expense <%= @expense.id %></h5><br />
<h3>Vendor: <%= @expense.vendor %></h3><br />
<p><strong>Date: </strong><%= @expense.formatted_date %></p>
<p><strong>Total: </strong><%= @expense.dollar_total %></p>
<p><strong>Department: </strong><%= @expense.department_category %></p>
<p><strong>Production: </strong><%= @expense.production_name %></p>
<p><strong>Submitted by: </strong><%= @expense.user_name %></p>
<p><strong>Description: </strong><%= @expense.description ? @expense.description : "None" %></p><br />

<p><%= link_to "Edit Expense", edit_user_expense_path(current_user, @expense) %> | <%= link_to "Delete Expense", expense_path(@expense), method: :delete %> | <%= link_to "Back to My Expenses", user_expenses_path(current_user) %></p>
