
<h3><%= @expense.vendor %></h3>
<h3><%= @expense.date %></h3>
<h3><%= @expense.total %></h3>
<h3><%= @expense.location %></h3>
<h3><%= @expense.department %></h3>
<h3><%= @expense.production.name %></h3>
<h3><%= @expense.user.name %></h3>
