<h1>Vendor: <%= @expense.vendor %></h1>
<p><strong>Date: </strong><%= @expense.formatted_date %></p>
<p><strong>Total: </strong><%= @expense.dollar_total %></p>
<p><strong>Location: </strong><%= @expense.location %></p>
<p><strong>Department: </strong><%= @expense.department_category %></p>
<p><strong>Production: </strong><%= @expense.production.name %></p>
<p><strong>Submitted by: </strong><%= @expense.user.name %></p>
<br></br>

<%= image_tag(@expense.receipt) %><br></br>

<%= link_to "Edit Expense", edit_user_expense_path(current_user, @expense) %><br></br>

<%= form_tag user_expense_path([current_user, @expense.id]), method: "delete" do %>
  <%= submit_tag "Delete Expense" %>
<% end %>
<br></br>

<%= link_to "Back to My Expenses", user_path(current_user) %>
