
<h3>Vendor: <%= @expense.vendor %></h3>
<h3>Date: <%= @expense.formatted_date %></h3>
<h3>Total: <%= @expense.dollar_total %></h3>
<h3>Location: <%= @expense.location %></h3>
<h3>Department: <%= @expense.department_category %></h3>
<h3>Production: <%= @expense.production.name %></h3>
<h3>Submitted by: <%= @expense.user.name %></h3>

<%= link_to "Edit Expense", edit_user_expense_path(current_user, @expense) %>

<%= form_tag expense_path(@expense.id), method: "delete" do %>
  <%= submit_tag "Delete Expense" %>
<% end %>

<%= link_to "Back to Expenses", user_expenses_path(current_user) %>
