<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Film Budget Helper", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <% if current_user %>
      <li class="nav-item"><%= link_to "Home", root_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "My Expenses", user_expenses_path(current_user), class: "nav-link all-expenses", :"data-id" => current_user.id %></li>
      <li class="nav-item"><%= link_to "New Expense", new_user_expense_path(current_user), class: "nav-link new-expense", :"data-id" => current_user.id %></li>
      <li class="nav-item"><%= link_to "Log out", logout_path, class: "nav-link" %></li>
      <% else %>
      <li class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></li>
      <li class="nav-item"><%= link_to "Sign up", new_user_path, class: "nav-link"  %></li>
      <li class="nav-item"><%= link_to 'Log in with Google', '/auth/google_oauth2', class: "nav-link" %></li>
      <% end %>
    </ul>
  </div>
</nav>
