<!DOCTYPE html>
<html>
  <head>
    <title>FilmBudgetHelper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container" role="main">
      <% if flash.any? %>
          <% flash.find_each do |key, value| %>
            <div class="alert alert-info alert-<%= key %>"><%= value %></div>
          <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
